{{#each this}}
<li class="movie__card" data-action='{{id}}'>
    <div class="movie__link">
        <img class="movie__img" data-id={{id}} src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}} {{name}}" 
        onerror="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/en/d/d6/Image_coming_soon.png';"/>
        <span class="movie__vote_average">{{vote_average}}</span>
    </div>
<h2 class="movie__title">{{title}}</h2>
<p class="movie__text">
    <span>{{genre_ids}}</span> | <span>{{release_date}}</span>
</p>
</li>
{{/each}}