<div class="modal modal-students">
  <ul class="students-list">
    {{#each this}}
    <li class="student">
      <img src="{{photo}}" alt="{{name}}" width="100" height="150">
      <p class="student-name">{{name}}</p>
      <p class="student-position">{{position}}</p>
      <p class="student-work">{{work}}</p>
    </li>
    {{/each}}
  </ul>
</div>
